.details-section,
.details-container,
.details-info-container,
.links,
#reserve {
  display: flex;
}

.list {
  padding: 0;
  margin: 0;
}

.reserve-btn {
  background-color: #5cbb1cb4;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  border-radius: 200px;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 2px;
  align-content: center;
  margin: 25px 0;
  padding: 3% 25%;
}

.details-section {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  margin-top: 10vh;
}

.details-container {
  flex-direction: column;
  justify-content: space-between;
}

.details-image-container {
  width: 100%;
  margin-bottom: 20px;
}

.details-info-container {
  flex-direction: column;
  justify-content: space-between;
}

img {
  border-radius: 20px;
  width: 100%;
}

.info {
  padding: 15px;
  font-size: 1.3rem;
}

.info:nth-child(odd) {
  background-color: #ece7e78a;
}

#more {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
  font-weight: 600;
}

#more:hover {
  text-decoration: underline;
  text-decoration-color: #5cbb1cb4;
}

#more::after {
  content: '\2771';
  padding: 0 5px;
  color: #5cbb1cb4;
  font-size: 1.3rem;
}

#reserve {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.links {
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .details-container {
    padding: 0 5%;
  }

  .details-image-container {
    margin-bottom: 20px;
  }

  .links,
  #reserve {
    align-items: end;
  }

  #reserve {
    justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  .details-container {
    flex-direction: row;
  }

  .details-image-container {
    width: 60%;
  }
}
