.bg-reserve {
  padding: 1% 5%;
  height: 100%;
}

.div-reserve {
  margin-top: 15%;
  margin-bottom: 15%;
}

.search-icon {
  color: #96bf0298;
  font-size: 20px;
  border-color: white;
  background-color: white;
  padding:0 15px 3px 15px;
  border-radius: 500px;
  align-self: flex-end;
}

.reserve-title {
  color: #fdfdf3;
}

.reserve-description {
  color: #fdfdf3;
}

.reserve-input {
  background-color: #96bf0298;
  border-color: white;
  color: #fdfdf3;
  border-radius: 500px;
}

.reserve-button {
  background-color: #ffffff;
  color: #96bf0298;
  border-radius: 500px;
  border-color: white;
}

.reserve-button:hover {
  background-color: #96bf0298;  
  border-color: white;
}
