.item-card {
  /* width: 25%; */
  align-items: center;
  padding: 2rem 2rem;
}

.item-img {
  width: 15rem;
  height: 15rem;
  /* border-radius: 100%; */
}

.item-name {
  color: #151515;
  font-weight: bold;
}

.item-description {
  color: #d8d8d9;
}

.item-description::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 30%;
  padding-top: 0.5rem;
  border-top: 2px dashed #d8d8d9;
}

.item-icons {
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0;
}

.item-icons li {
  color: #d8d8d9;
  font-size: 30px;
}
