.reservation {
  width: 95%;
  margin: 10vh auto;
}

.res-header {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .res-header {
    font-size: 1.5rem;
  }

  .reservation {
    width: 80%;
  }
}
