@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Yrsa&display=swap');

#root {
  display: flex;
  flex-direction: column;
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 95vw;
}

.font {
  font-family: 'Yrsa', serif;
  margin-top: 2rem;
}

.font-rale {
  font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 768px) {
  #root {
    flex-direction: row;
  }
}
